{% extends "static/layout.html" %}

{% block head %}
    <title> Dashboard </title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Hay {{ name }}</h3>
                    <br>
                </div>
                <div class="col-md-12 grid-margin transparent">
                    <div class="row">
                        <div class="col-md-4 mb-4 mb-lg-0 stretch-card transparent">
                            <div class="card card-light-blue">
                                <div class="card-body">
                                    <p class="mb-4">Absensi Berjalan</p>
                                    <p class="fs-30 mb-2">5</p>
                                    <p>hari</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card transparent">
                            <div class="card card-light-danger">
                                <div class="card-body">
                                    <p class="mb-4">Total Pegawai</p>
                                    <p class="fs-30 mb-2">{{ n_employs }}</p>
                                    <p>pegawai</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card transparent">
                            <div class="card card-dark-blue">
                                <div class="card-body">
                                    <p class="mb-4">Tools yang digunakan</p>
                                    <p class="fs-30 mb-2"></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-4 mb-lg-0 stretch-card transparent py-4">
                            <div class="card card-tale">
                                <div class="card-body">
                                    <p class="mb-4">Hardware</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
